APScheduler
asgiref
certifi
chardet
dj-database-url
Django
django-reversion
django-simple-history
djangorestframework
idna
Jinja2
MarkupSafe
python-dateutil
python-nvd3
python-slugify
pytz
requests
six
soupsieve
sqlparse
tzlocal
Unidecode
urllib3
whitenoise